/* Reset and global styles */
body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.main-container {
    display: flex;
    align-items: flex-start;
    min-height: 100vh;
    flex-direction: row;
    position: relative;

}

/* * Sidebar Styles */
.sidebar {
    width: 200px;
    height: 100vh;
    background-color: #2c3e50;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    color: #fff;
    display: block;
    flex-shrink: 0;
    transition: all 0.3s ease;
}

.sidebar h2 {
    font-size: 1.8rem;
    color: #e50914;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sidebar ul li a:hover {
    background-color: #e50914;
}

/* Main Content */
.main-content {
    margin-left: 200px;
    /* display: block; */
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    background-color: #b9c5d1;
    /* background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
        url('img/Hospital.jpg') no-repeat center center/cover;
    background-size: cover; */
}

.main-content h1 {
    font-size: 2rem;
    color: #e50914;
}

.container {
    display: flex;
    /* justify-content: space-between;
    flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    /* margin: auto; */
}

.card {
    /* background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 45%;
    padding: 20px;
    margin-bottom: 20px; */

    background-color: #502b2d;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    padding: 20px;
    margin: 10px 0;
    text-align: center;
}

.card h3 {
    color: #ffe5e5;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card table {
    width: 100%;
    border-collapse: collapse;
}

.card table th,
.card table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #b74b4b;
}

.card table th {
    background-color: #b74b4b;
    color: white;
}

.card table td {
    background-color: #fce4e4;
    color: #333;
}

.btn {
    padding: 8px 15px;
    background-color: #e50914;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #d40813;
}

.sidebar .menu-btn {
    display: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: white;
    transition: transform 0.3s ease, color 0.3s ease;
}

.sidebar .menu-btn:hover {
    color: #b74b4b;
    transform: scale(1.1);
}

@media (min-width: 769px) and (max-width: 1050px) {
    .main-container {
        display: flex;
        flex-direction: row;
    }

    .sidebar {
        width: 240px;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
    }

    .main-content {
        margin-left: 250px;
        flex: 1;
        padding: 20px;
        height: 100vh;
    }
}

/* Responsive Design */
@media (max-width: 768px) {
    .main-content {
        margin-left: 0;
    }

    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    /* .container {
        flex-direction: column;
    } */
    .main-container {
        flex-direction: column;
        /* في الشاشات الصغيرة يصبح الـ sidebar في الأعلى */
    }


    .sidebar ul {
        display: none;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .sidebar ul.active {
        display: flex;

    }

    .sidebar .menu-btn {
        display: block;

    }

}